<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="app-2">
        <span v-bind:title="message">
            move a curson on
        </span>
</div>
<div id="app-3">
    <span v-if="seen">some text</span>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">{{todo.text}}</li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reserveMessage">turn on message</button>
</div>
<div id="app-6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app-7">
    <ol>
        <todo-item></todo-item>
    </ol>
</div>
<div id="app-8">
    <ol>
        <todo-item-prop
                v-for="item in gloceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
        ></todo-item-prop>
    </ol>
</div>
<div id="app-9">
    <button v-bind:id="id" type="button" v-bind:disabled="isDisable">Button</button>
    <a :href="href">{{ok ? 'yes' : 'no'}}</a>
</div>
<div id="app-10">
    <p>Source message: {{message}}</p>
    <p>Reverce message: {{reverceMessage}}</p>
</div>


<script>
  let app10 = new Vue({
    el: '#app-10',
    data: {
      message: 'hello'
    },
    computed: {
      reverceMessage: function () {
        return this.message.split('').reverse().join('')
      }
    }
  })
</script>



<div id="app-11">
    <form action="">
        <input type="number" v-model="first">
        <input type="number" v-model="second">
        <p>result = {{result}}</p>
    </form>
</div>

<script>
  let app11 = new Vue({
    el: '#app-11',
    data: {
      first: 0,
      second: 0
    },
    computed: {
      result: function () {
        return Number(this.first) + Number(this.second)
      }
    }
  })
</script>



<div id="app-12">
    <form action="">
        <input type="text" v-model="marka">
        <input type="number" v-model="god">
        <p>result = {{full}}</p>
    </form>
</div>
<script>
  let app12 = new Vue({
    el: '#app-12',
    data: {
      marka: '',
      god: 1999
    },
    computed: {
      full: {
        get: function () {
          return `${this.marka} ${this.god}`
        },
        set: function (newValue) {
          let f = newValue.split(' ')
          console.log(f);
          console.log(typeof f);
          this.marka = f[0];
          this.god = f[f.length - 1]
        }
      }
    }
  })
</script>


<!--https://ru.vuejs.org/v2/guide/computed.html-->
<div id="watch-example">
    <p>
        Задайте вопрос, на который можно ответить «да» или «нет»:
        <input v-model="question">
    </p>
    <p>{{ answer }}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
  var watchExampleVM = new Vue({
    el: '#watch-example',
    data: {
      question: '',
      answer: 'Пока вы не зададите вопрос, я не могу ответить!'
    },
    watch: {
      // эта функция запускается при любом изменении вопроса
      question: function (newQuestion, oldQuestion) {
        this.answer = 'Ожидаю, когда вы закончите печатать...'
        this.debouncedGetAnswer()

      }
    },
    created: function () {
      // _.debounce — это функция lodash, позволяющая ограничить то,
      // насколько часто может выполняться определённая операция.
      // В данном случае мы ограничиваем частоту обращений к yesno.wtf/api,
      // дожидаясь завершения печати вопроса перед отправкой ajax-запроса.
      // Узнать больше о функции _.debounce (и её родственнице _.throttle),
      // можно в документации: https://lodash.com/docs#debounce
      this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
    },
    methods: {
      getAnswer: function () {
        if (this.question.indexOf('?') === -1) {
          this.answer = 'Вопросы обычно заканчиваются вопросительным знаком. ;-)'
          return
        }
        this.answer = 'Думаю...'
        var vm = this
        axios.get('https://yesno.wtf/api')
          .then(function (response) {
            vm.answer = _.capitalize(response.data.answer)
          })
          .catch(function (error) {
            vm.answer = 'Ошибка! Не могу связаться с API. ' + error
          })
      }
    }
  })
</script>


<style>
    .onSale{background-color: green}
    .active-class{color: yellow}
    .err-class{border: 1px solid gold}
    .is-stock{text-decoration: underline}
</style>
<div id="app-13">
    <p v-bind:class=" {onSale: item.onSale} ">test work with class</p>
    <p v-bind:class="[active, error]">string 1</p>
    <p v-bind:class="[ {'is-stock': isStock},  error ]">is stock</p>

</div>

<script>
  let app13 = new Vue({
    el: '#app-13',
    data:{
      item:{id: 1, onSale: true},
      active: 'active-class',
      error: 'err-class',
      isStock: true,

    }
  })
</script>


<div id="app-14">
    <template v-if="awesome">
        <h6>vue is cool</h6>
    </template>

    <h6 v-else>vue is not cool</h6>
</div>

<script>
  let app14 = new Vue({
    el: '#app-14',
    data: {
      awesome: true
    }
  })
</script>



<div id="app-16">
    <ul>
        <li v-for="q in evenNumber">{{q}}</li>
    </ul>
</div>
<script>
  let app16 = new Vue({
    el: '#app-16',
    data:{
      numbers: [1,2,3,4,5]
    },
    computed: {
      evenNumber: function () {
        return this.numbers.filter(function (num) {
          return num % 2 === 0
        })
      }
    }
  })
</script>

<div id="app-17">
    <button v-on:click="counter += 1">+1</button>
    <p>{{counter}}</p>
</div>
<script>
  let app17 = new Vue({
    el: '#app-17',
    data: {
      counter: 0
    }
  })
</script>

<div id="app-18">
    <button v-on:click="greeting">Greeting</button>
</div>
<script>
  let app18 = new Vue({
    el: '#app-18',
    data:{
      name: 'same name'
    },
    methods: {
      greeting: function (event) {
        alert(`hello ${this.name}`)

        if( event){
          alert(event.target.tagName)
        }
      }
    }
  })
</script>


<div id="app-19">
    <h5 v-html="rawHtml"></h5>
    <button-component v-bind:title="123"></button-component>
</div>
<script>

  Vue.component('button-component', {
    data: function () {
      return {
        count: 0
      }
    },
    props: ['title'],
    template: '<button v-on:click="count++">click count {{count}} test {{title}}</button>'
  })

  let app19 = new Vue({
    el: '#app-19',
    data: {
      rawHtml: '<u>some raw text</u>'
    }
  })
</script>






<div id="app-20">
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="postFontSize += 0.1"
        ></blog-post>
    </div>
</div>
<script>
  Vue.component('blog-post', {
    props:['post'],
    template: `
            <div class="blog-post">
                <h3 style="display: inline-block">{{post.title}}</h3>
                <button v-on:click=" $emit('enlarge-text') ">increses font size</button>
                <div v-html="post.content"></div>
            </div>
          `
  })
  let app20 = new Vue({
    el: '#app-20',
    data: {
      posts:[
        {id: 1, content: 'content 1', title: 'title1'},
        {id: 2, content: 'content 2', title: 'title2'},
      ],
      postFontSize: 1
    }
  })
</script>



<div id="app-21">
    <!--<custom-input-->
    <!--v-bind:value="searchText"-->
    <!--v-on:input="searchText = $event"-->
    <!--&gt;</custom-input>-->
    <custom-input
            v-model="searchText"
    ></custom-input>
    {{searchText}}
</div>
<script>
  Vue.component('custom-input', {
    props: ['value'],
    template:`
            <input :value=value
                    v-on:input="$emit('input', $event.target.value)"  />
            `
  })
  let app21 = new Vue({
    el: '#app-21',
    data: {
      searchText: ''
    }
  })
</script>



<div id="app-22">
    <alert-box>!!!</alert-box>
</div>
<script>
  Vue.component('alert-box',{
    template: `
            <div>
            <span>Error</span><slot></slot>
</div>
          `
  })
  let app22 = new Vue({
    el: '#app-22'
  })
</script>


<style>
    .active-tab{background-color: gainsboro}
</style>
<div id="app-23">
    <button
            v-for="b in buttons"
            v-bind:key="b"
            v-bind:class="[ {'active-tab': currentTab === b}]"
            v-on:click="currentTab = b"
    >{{b}}</button>

    <component v-bind:is="currButtonComponent" class="some-button"></component>
</div>
<script>
  Vue.component('tab-my-home',{
    template: `<div>tab my home</div>`
  });
  Vue.component('tab-my-posts', {
    template: `<div>tab my posts</div>`
  });
  Vue.component('tab-my-archive', {
    template: `<p class="is-stock">tab my archive</p>`
  })
  let app23 = new Vue({
    el: '#app-23',
    data:{
      buttons:['my-home', 'my-posts', 'my-archive'],
      currentTab: 'my-home',
    },
    computed:{
      currButtonComponent: function () {
        return `tab-${this.currentTab}`
      }
    }
  })
</script>


<div id="app-24">
    <div class="container">
        <div class="row">
            <div style="display: inline-block" class="c1">
                <post-blog
                        v-bind:title="'title1'"
                        v-bind:content="'content 1'"
                ></post-blog>
            </div>
            <div style="display: inline-block;" class="c2">
                <post-blog
                        v-bind:title="'title2'"
                        v-bind:content="'content 2'"
                        v-bind:gl="gl"
                ></post-blog>
            </div>
        </div>
    </div>
</div>
<script>

  Vue.component('post-blog',{
    props: ['title', 'content', 'gl'],
    template: `
          <div>
            <h5>{{title}}</h5>
            <p>{{content}}</p>
            <p>{{gl}}</p>
</div>
          `
  })

  let app24 = new Vue({
    el: '#app-24',
    data:{
      gl: 'gg'
    }
  })
</script>



















<script>
  let app9 = new Vue({
    el: '#app-9',
    data: {
      isDisable: true,
      id: 5,
      ok: true,
      href: 'http://ya.ru'
    }
  })
</script>




<script>
  Vue.component('todo-item-prop', {
    props: ['todo'],
    template: '<li>{{todo.text}}</li>'
  });
  let app8 = new Vue({
    el: '#app-8',
    data: {
      gloceryList: [
        {id: 1, text: 'first'},
        {id: 2, text: 'second'}
      ]
    }
  })
</script>





<script>
  Vue.component('todo-item',{
    template: '<li>some text</li>'
  })

  var app6 = new Vue({
    el: '#app-7'
  })
</script>


<script>
  var app6 = new Vue({
    el: '#app-6',
    data: {
      message: 'hello summer'
    }
  })
</script>


<script>
  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'hello world'
    },
    methods: {
      reserveMessage: function () {
        this.message = this.message.split('').reverse().join('')
      }
    }
  })
</script>


<script>
  var app = new Vue(
    {
      el: '#app',
      data: {
        message: 'Hello'
      },

    }
  )
</script>

<script>
  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'you loaded this page: ' + new Date().toLocaleString()
    }
  })
</script>

<script>
  var app3 = new Vue({
    el: '#app-3',
    data: {
      seen: true
    }
  })
</script>

<script>
  var app4 = new Vue({
    el: '#app-4',
    data: {
      todos: [
        { text: 'task1'},
        { text: 'task2'}
      ]
    }
  })
</script>




</body>
</html>